# üìä Caso de an√°lisis: Emisiones de di√≥xido de carbono por pa√≠s (1975-2017)
## üß† Objetivo:
Los estudiantes deben analizar la evoluci√≥n de las emisiones de CO‚ÇÇ en varios pa√≠ses desde 1975 hasta 2017, distinguiendo entre:

- Emisiones totales: Miden la cantidad total de CO‚ÇÇ emitido en un pa√≠s.

- Emisiones per c√°pita: Indican cu√°ntas toneladas m√©tricas de CO‚ÇÇ emite, en promedio, una persona en ese pa√≠s.

## <mark>Estudiante: \> Jos√© F Gonz√°lez Salgado</mark>

## Contexto

üåç An√°lisis de Emisiones de CO‚ÇÇ ‚Äì Caso Pr√°ctico
üìÅ Archivo: Carbon_Dioxide_Emission_Estimates.csv
Contiene datos de emisiones de di√≥xido de carbono (CO‚ÇÇ) de varios pa√≠ses entre 1975 y 2017.

üßæ Estructura de los datos
- Country: Pa√≠s

- Year: A√±o

- Type: Tipo de emisi√≥n:

    * Emisiones totales (kilotoneladas m√©tricas)

    * Emisiones per c√°pita (toneladas m√©tricas por persona)

- Value: Valor num√©rico de la emisi√≥n

üîç Tipos de emisiones
- Totales: CO‚ÇÇ emitido por todo el pa√≠s (kt)

- Per c√°pita: CO‚ÇÇ promedio por persona (t CO‚ÇÇ/persona)

    - Se calcula dividiendo emisiones totales por la poblaci√≥n

In [1]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/josefgonzalez/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/josefgonzalez/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Importa el CSV como un DataFrame

import pandas as pd

ruta_archivo_csv = "Estimaciones_Emisiones_Dioxido_Carbono.csv" #Se define la ruta del archivo

df = pd.read_csv(ruta_archivo_csv, delimiter=',', encoding="utf-8")

df #Vista preliminar del df

,Country,Year,Type,Value
0,Albania,1975,Emisiones (kilotoneladas metricas de dioxido d...,4338.334
1,Albania,1985,Emisiones (kilotoneladas metricas de dioxido d...,6929.926
2,Albania,1995,Emisiones (kilotoneladas metricas de dioxido d...,1848.549
3,Albania,2005,Emisiones (kilotoneladas metricas de dioxido d...,3825.184
4,Albania,2010,Emisiones (kilotoneladas metricas de dioxido d...,3930.295
...,...,...,...,...
2127,Zimbabwe,2005,Emisiones per capita (toneladas metricas de di...,0.794
2128,Zimbabwe,2010,Emisiones per capita (toneladas metricas de di...,0.672
2129,Zimbabwe,2015,Emisiones per capita (toneladas metricas de di...,0.749
2130,Zimbabwe,2016,Emisiones per capita (toneladas metricas de di...,0.642
2131,Zimbabwe,2017,Emisiones per capita (toneladas metricas de di...,0.588

# Pregunta 0

1. Crear un dataframe con el nombre de variable 'df_emisions_co2' usando √∫nicamente las filas cuya columna 'Type' tiene el valor 'Emisiones totales de CO‚ÇÇ emitidas por el pa√≠s'

2. Crear un dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando √∫nicamente las filas cuya columna 'Type' tiene el valor 'Emisiones promedio de CO‚ÇÇ emitidas por habitante'.

In [3]:
#Crea un copia del original filtrado como df_emisions_co2

df_emisions_co2 = df[df["Type"] == "Emisiones (kilotoneladas metricas de dioxido de carbono)"]

df_emisions_co2

,Country,Year,Type,Value
0,Albania,1975,Emisiones (kilotoneladas metricas de dioxido d...,4338.334
1,Albania,1985,Emisiones (kilotoneladas metricas de dioxido d...,6929.926
2,Albania,1995,Emisiones (kilotoneladas metricas de dioxido d...,1848.549
3,Albania,2005,Emisiones (kilotoneladas metricas de dioxido d...,3825.184
4,Albania,2010,Emisiones (kilotoneladas metricas de dioxido d...,3930.295
...,...,...,...,...
2119,Zimbabwe,2005,Emisiones (kilotoneladas metricas de dioxido d...,10272.774
2120,Zimbabwe,2010,Emisiones (kilotoneladas metricas de dioxido d...,9464.714
2121,Zimbabwe,2015,Emisiones (kilotoneladas metricas de dioxido d...,11822.362
2122,Zimbabwe,2016,Emisiones (kilotoneladas metricas de dioxido d...,10368.900
2123,Zimbabwe,2017,Emisiones (kilotoneladas metricas de dioxido d...,9714.938

In [4]:
#Crea un copia del original filtrado como df_emisions_co2_per_capita

df_emisions_co2_per_capita = df[df["Type"] == "Emisiones per capita (toneladas metricas de dioxido de carbono)"]

df_emisions_co2_per_capita

       Country  Year                                               Type  Value
8      Albania  1975  Emisiones per capita (toneladas metricas de di...  1.804
9      Albania  1985  Emisiones per capita (toneladas metricas de di...  2.337
10     Albania  1995  Emisiones per capita (toneladas metricas de di...  0.580
11     Albania  2005  Emisiones per capita (toneladas metricas de di...  1.270
12     Albania  2010  Emisiones per capita (toneladas metricas de di...  1.349
...        ...   ...                                                ...    ...
2127  Zimbabwe  2005  Emisiones per capita (toneladas metricas de di...  0.794
2128  Zimbabwe  2010  Emisiones per capita (toneladas metricas de di...  0.672
2129  Zimbabwe  2015  Emisiones per capita (toneladas metricas de di...  0.749
2130  Zimbabwe  2016  Emisiones per capita (toneladas metricas de di...  0.642
2131  Zimbabwe  2017  Emisiones per capita (toneladas metricas de di...  0.588

[1066 rows x 4 columns]

# Pregunta 1

Cu√°ntas filas tiene el dataframe 'df_emisions_co2'?

In [5]:
# Coloque el c√≥digo que responda a la pregunta aqui

count_row_df_1 = df_emisions_co2.shape #muestra el total de las filas en el primer indice y total de columnas en el segundo indice

print(f"El dataframe df_emisiones_co2 tiene: {count_row_df_1[0]} filas")

El dataframe df_emisiones_co2 tiene: 1066 filas

# Pregunta 2

Cu√°l en el valor m√°s alto de emisiones (en general) usando el dataframe 'df_emisions_co2'?

In [6]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

max_df_co2 = df_emisions_co2["Value"].max() #Seleccionar el valor maximo del df

print(f"El valor m√°s alto de emisiones en el dataframe df_emisiones_co2 es de: {max_df_co2}")

El valor m√°s alto de emisiones en el dataframe df_emisiones_co2 es de: 9257933.9

# Pregunta 3

Cu√°ntos pa√≠ses (Countries) hay en el dataframe 'df_emisions_co2'?

In [7]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

Qty_country_df_co2 = df_emisions_co2["Country"].nunique() #devuelve el numero de valores √∫nicos

print(f"En el dataframe hay un total de: {Qty_country_df_co2} pa√≠ses")

En el dataframe hay un total de: 142 pa√≠ses

In [8]:
#Imprima un lista con todos los paises

print(f"La lista de paises es la siguiente:",df_emisions_co2["Country"].unique()) #Imprime lista con todos los paises

La lista de paises es la siguiente: ['Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium' 'Benin'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Cambodia' 'Cameroon' 'Canada' 'Chile'
 'China' 'China Hong Kong SAR' 'Colombia' 'Congo' 'Costa Rica'
 'C√¥te d‚ÄôIvoire' 'Croatia' 'Cuba' 'Cura√ßao' 'Cyprus' 'Czechia'
 "Dem. People's Rep. Korea" 'Dem. Rep. of the Congo' 'Denmark'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea' 'Estonia'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Guatemala' 'Haiti' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Libya' 'Lithuania' 'Luxembourg'
 'Malaysia' 'Malta' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'North Macedonia' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United Rep. of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Yemen' 'Zambia'
 'Zimbabwe']

# Pregunta 4

Cu√°l es el pa√≠s que tiene mayor emisiones usando el dataframe 'df_emisions_co2'?

In [9]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

country_top_df_co2 = df_emisions_co2.groupby("Country")["Value"].sum().idxmax()

print(f"El pais con mayores emisiones es: {country_top_df_co2}")

El pais con mayores emisiones es: China

# Pregunta 5

Cu√°l es el a√±o que tiene mayor emisiones para el pa√≠s de Spain usando el dataframe 'df_emisions_co2'?

In [10]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

country_filter = "Spain" #Filtro para el pa√≠s

df_emisions_co2_filter = df_emisions_co2[df_emisions_co2["Country"] == country_filter] #filtro del df por el pais

top_year_country = df_emisions_co2_filter.groupby("Year")["Value"].sum().idxmax() #Devuelve el a√±o con mayor emisi√≥n

print(f"El a√±o con mayor emisi√≥n de {country_filter} fue: {top_year_country}")

El a√±o con mayor emisi√≥n de Spain fue: 2005

# Pregunta 6

Cu√°les son los a√±os que se tiene registros para el dataframe 'df_emisions_co2_per_capita'?

Entrege una lista con los a√±os sin repetirse

In [11]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

years_per_capita = df_emisions_co2_per_capita["Year"].unique()

print(f"Los a√±os con registros para el dataframe son los siguentes: {years_per_capita}") #Imprime lista con todos los a√±os

Los a√±os con registros para el dataframe son los siguentes: [1975 1985 1995 2005 2010 2015 2016 2017]

# Pregunta 7

Cu√°ntas son las emisiones en 'kilotoneladas m√©tricas' en total usando todos los pa√≠ses para usando el dataframe 'df_emisions_co2'?

In [12]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

total_kiloton = df_emisions_co2["Value"].sum()

print(f"El total de emisiones en kiloneladas m√©tricas es de {total_kiloton:.2f}")

El total de emisiones en kiloneladas m√©tricas es de 195028250.42

# Pregunta 8

Cu√°ntas son las emisiones en 'kilotoneladas m√©tricas' s√≥lo para Albania usando el dataframe 'df_emisions_co2'?

In [17]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

total_kiloton_albania = df_emisions_co2[df_emisions_co2["Country"] == "Albania"]["Value"].sum()

print(f"El total de emisiones en kiloneladas m√©tricas para Albania es de {total_kiloton_albania:.2f}")

El total de emisiones en kiloneladas m√©tricas para Albania es de 32713.28

# Pregunta 9

Cu√°ntas son las emisiones totales en 'libras' s√≥lo para Costa Rica usando el dataframe 'df_emisions_co2'?

In [32]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

filtro_CR = df_emisions_co2[df_emisions_co2["Country"] == "Costa Rica"]

filtro_CR["Value Libras"] = filtro_CR["Value"] / 4.5359236996889E-7

sum_libras = filtro_CR["Value Libras"].sum()

print(f"La suma total en libras para Costa Rica son: {sum_libras:.2f}")

La suma total en libras para Costa Rica son: 93086016863.33

/var/folders/y2/cnskvb710vq4fszvn431gx9h0000gn/T/ipykernel_3054/3568257715.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_CR["Value Libras"] = filtro_CR["Value"] / 4.5359236996889E-7

# Pregunta 10

Para s√≥lo 'Costa Rica' y suponiendo que las emisiones se estancan a partir del √∫ltimo a√±o reportado (se mantiene igual). Cu√°ntas son las emisiones en 'Kg' s√≥lo para Costa Rica en el a√±o desde el ultimo a√±o hasta el 2025 usando el dataframe 'df_emisions_co2'?

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 11

Para s√≥lo los pa√≠ses de Centroam√©rica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por a√±o de las emisiones totales en Centroam√©rica usando el dataframe 'df_emisions_co2'?
Se espera un dataframe de 2 columnas: 'Year' y 'total_por_a√±o'

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 12

Para s√≥lo los pa√≠ses de Centroam√©rica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por a√±o de las emisiones en promedio en Centroam√©rica usando el dataframe 'df_emisions_co2_per_capita'?
Se espera un dataframe de 2 columnas: 'Year' y 'promedio_por_a√±o'

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 13

Cu√°l es el promedio de las emisiones per capita para el a√±o 2005 usando el dataframe 'df_emisions_co2_per_capita'?

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

# Pregunta 14

Usa el dataframe  'df_emisions_co2_per_capita' con las columnas Year y promedio_por_a√±o para crear una gr√°fica de l√≠neas que muestre la evoluci√≥n del promedio de emisiones per c√°pita en Centroam√©rica a lo largo del tiempo; el eje X debe ser el a√±o y el eje Y el promedio de emisiones.

In [ ]:
# Coloque el c√≥digo que responda a la pregunta aqui exactamente lo que se pregunta

Link Github: https://github.com/josefgonza17/2025C1-G01-FUNDAMENTOS-DE-PYTHON/blob/main/Analisis%20de%20Caso%20Final/Jose_Gonzalez_Proyecto_Final.ipynb