# Operaciones

Los `DataFrames` ofrecen varias operaciones básicas, el listado completo se puede encontrar en la [documentación](https://pandas.pydata.org/docs/user_guide/basics.html). 

## Rango de fechas

In [11]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/josefgonzalez/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/josefgonzalez/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import numpy as np

# Rango de fechas para usar de índice en un dataframe
index = pd.date_range("5/3/2024", periods=20)

index

DatetimeIndex(['2024-05-03', '2024-05-04', '2024-05-05', '2024-05-06',
               '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10',
               '2024-05-11', '2024-05-12', '2024-05-13', '2024-05-14',
               '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18',
               '2024-05-19', '2024-05-20', '2024-05-21', '2024-05-22'],
              dtype='datetime64[ns]', freq='D')

## Consultas rápidas

In [3]:
# Lo utilizamos para rellenar un df con valores aleatorios
df = pd.DataFrame(np.random.randn(20, 4), index=index, columns=["A", "B", "C", "D"])

df

                   A         B         C         D
2024-05-03  2.768202  1.159427  0.306276 -0.686732
2024-05-04  0.318458 -0.023547  0.689397  1.241755
2024-05-05  0.534813 -0.579046  1.214001  0.466684
2024-05-06  0.023698  0.261116 -0.943735 -1.015583
2024-05-07 -0.914729  0.639837 -0.225996  1.146219
2024-05-08 -1.347528  0.084010  0.365806 -0.144813
2024-05-09  0.671643 -0.253418 -0.303087  1.457510
2024-05-10  0.141857  0.400619 -0.973689 -0.354503
2024-05-11 -2.064211 -0.621434  0.414786  1.220787
2024-05-12  0.366440  0.125970  0.493397  0.968889
2024-05-13 -0.704049  0.193641  1.812717  0.744238
2024-05-14 -1.142607  1.027728 -0.702151 -0.652301
2024-05-15 -1.912167 -2.457474  1.438121  1.228762
2024-05-16  0.720483 -0.268374 -0.636706 -0.306515
2024-05-17  0.011397 -2.195083  1.744644  0.271621
2024-05-18 -0.070247 -0.043248 -0.068533 -0.714664
2024-05-19  0.216457  0.942560  1.375996 -0.102587
2024-05-20  0.301233 -1.013863 -0.046697  0.084984
2024-05-21  0.841822 -0.300822  1.262338  2.794310
2024-05-22  0.654120  0.670873 -0.145024 -2.704783

In [ ]:
# Primeras filas (cabeza)
df.head()

In [ ]:
# Primeras tres filas
df.head(3)

In [ ]:
# Últimas filas (cola)
df.tail()

In [ ]:
# Últimas tres filas
df.tail(3)

## Valores únicos

In [14]:
# Definimos un DataFrame con información de diferentes tipos
df = pd.DataFrame({
      'enteros': [100, 200, 300, 400],
    'decimales': [3.14, 2.72, 1.618, 3.14],
      'cadenas': ['hola','adiós','hola','adiós']})

df

   enteros  decimales cadenas
0      100      3.140    hola
1      200      2.720   adiós
2      300      1.618    hola
3      400      3.140   adiós

In [15]:
# Array de valores únicos de una columna
df['cadenas'].unique()

array(['hola', 'adiós'], dtype=object)

In [16]:
# Contador de valores únicos de una columna
df['cadenas'].nunique()

2

In [4]:
# Dataframe con los de valores únicos y su contador de una columna
df['cadenas'].value_counts()

KeyError: 'cadenas'

## Aplicación de funciones

In [ ]:
# Método interno de las Series columna
df['decimales'].sum()

In [ ]:
# Aplicar una función predefinida
df['cadenas'].apply(len)

In [ ]:
# Aplicar una función definida
def doblar(n):
    return n*2

df['enteros'].apply(doblar)

In [ ]:
# Aplicar una función anónima
df['enteros'].apply(lambda n: n/3)

In [ ]:
# Borrar permanentemente una columna
del df['decimales']

In [ ]:
df

## Recuperar índices

In [6]:
# Índices de las columnas
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [5]:
# Índice de las filas
df.index

DatetimeIndex(['2024-05-03', '2024-05-04', '2024-05-05', '2024-05-06',
               '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10',
               '2024-05-11', '2024-05-12', '2024-05-13', '2024-05-14',
               '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18',
               '2024-05-19', '2024-05-20', '2024-05-21', '2024-05-22'],
              dtype='datetime64[ns]', freq='D')

## Aplicar ordenaciones

In [ ]:
# Ordenar por columna (inplace=False por defecto)
df.sort_values(by='enteros')

In [ ]:
# Ordenar por columna inversamente (inplace=False por defecto)
df.sort_values(by='enteros',ascending=False)